@charset "utf-8";

@font-face {
	font-family: Satisfy;
	src: url('Satisfy/Satisfy-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Patua_One;
	src: url('Patua_One/PatuaOne-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Crimson_Text;
	src: url('Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}

/* Collapsible menu code from Nadia Hogg on codeburst.io */
.horizontal_nav {
	display: none;
}

.collapsible_menu {
	display: block;
	background-color: rgba(250, 250, 250, 0.3);
	padding: 0px 30px;
	border-bottom: 2px solid;
}

.collapsible_menu label {
	cursor: pointer;
	font-size: 5em;
}

input#menu {
	display: none;
}

input#menu:checked ~ label {
	background: radial-gradient(circle, red, transparent 50%);
}

input#menu:checked ~ .menu_content {
	max-height: 100%;
}

.menu_content {
	max-height: 0;
	overflow: hidden;
	font: 2em Patua_One;
	padding: 0px 0px 0px 50px;
	line-height: 2em;
}

.collapsible_menu ul {
	list-style-type: none;
	padding: 0;
}

.collapsible_menu a {
	display: block;
	padding: 10px;
}

.collapsible_menu a:hover, .collapsible-menu a:active {
	background-color: rgba(250, 250, 250, 0.3);
}

div[id^="col-"] {
	clear: both;
	width: 100%;
}