@charset "utf-8";


/* Structure Styles */
.grid_container {
	display: grid;
	grid-gap: 20px;
}
/* M2LO14. Progressive enhancement. Older rgb value defined first for older browsers before newer rgba, which will override the previous rgb on newer browsers. */
/* M2LO15. Sets background and text color. */
article {
	color: rgb(5, 5, 5);
	color: rgba(5, 5, 5, 0.6);
	background-color: rgb(3, 3, 3);
	background-color: rgba(5, 5, 5, 0.1);
	text-align: center;
	width: 70%;
	margin: auto;
}
/* M2LO3. Style precedence - the .grid_item background-color takes precedence over the defined article background-color. */
/* M2LO3. Style inheritance - text alignment is not specified for the .grid_item class, but it inherits the defined article text alignment. */
/* M2LO6. CSS class selector. */
/* M2LO12. Sets float, padding, margin and background color to determine appearance and location. */
.grid_item {
	float: left;
	padding: 10px;
	margin: 40px 40px 0px 40px;
	background-color: rgba(151, 151, 151, 0.4);
}
/* M2LO11. Psuedo-class. */
.grid_item:last-of-type {
	margin-bottom: 40px;
}

.grid_item:hover {
	background-color: rgba(151, 151, 151, 0.5);
	border-style: inset;
	border-width: 5px;
	border-color: rgba(100, 100, 100, 0.6);
	margin: 35px 35px -5px 35px;
}

.grid_item > p {
	font: 1.2em Palatino, sans-serif;
}
/* M2LO5. Contextual selectors. Selects only the h1 within the bio article. */
/* M2LO6. CSS id selector. */
/* M2LO13. Font - changes type, size, and font stack. */
article#bio h1 {
	font: normal small-caps 1.5em 'Palatino Linotype', Palatino, sans-serif;
}

article#bio p {
	font-size: 1.5em;
}

article#contact {
	font: 1.5em Palatino, sans-serif;
}

article#featured_items a:link, article#featured_items a:visited, article#featured_items a:active, article#featured_items a:hover {
	color: rgba(5, 5, 5, 0.6);
	font: 1.2em Palatino, sans-serif;
}

img#shop_item {
	width: 20%;
	height: auto;
}

/* List Styles */
ol.LO {
	list-style-type: upper-alpha;
}

/* Link Style */
/* M2LO7. Attribute selector other than id or class. */
a[href] {
	text-decoration: none;
}

/* Navigation Styles */
nav {
	display: table;
	width: 15em;
	background-color: rgba(5, 5, 5, 0.1);
}

nav > ul {
	line-height: 2em;
	list-style-type: none;
	padding-left: 10px;
	display: table-row;
}

nav > ul > li {
	display: table-cell;
	text-align: center;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
	color: rgb(151, 151, 151);
}

nav > ul > li > a:active, nav > ul > li > a:hover {
	color: rgba(5, 5, 5, 0.8);
	background-color: rgba(5, 5, 5, 0.2);
}
/* M2LO11. Psuedo-element. */
nav > ul > li > a:active::before, nav > ul > li > a:hover::before {
	content: "\2022";
}

nav > ul > li > a:active::after, nav > ul > li > a:hover::after {
	content: "\2022";
}