@charset "utf-8";

/* 
Name: Karsten Hald
Date Started: 4/6/2021
Last Edited: 5/7/2021
Course: CIS155
Instructor: Linda Epps
Assignment: Basic Site for CIS 155 
*/

/*Fonts obtained from Google Fonts. Licenses included.*/

@font-face {
	font-family: Satisfy;
	src: url('Satisfy/Satisfy-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Patua_One;
	src: url('Patua_One/PatuaOne-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Crimson_Text;
	src: url('Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}

/* Structure Styles */
* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.3));
}

header img {
	width: 100%;
}

#header-image {
	position: relative;
	text-align: center;
	color: white;
}

#header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font: 5em Satisfy, sans-serif;
	text-shadow: gray 4px 4px 10px;
}

article {
	color: rgb(5, 5, 5);
	color: rgba(5, 5, 5, 0.6);
	background-color: rgba(5, 5, 5, 0.1);
	text-align: center;
	width: 70%;
	margin: 3% auto;
	box-shadow: rgba(100, 100, 100, 0.15) 0px 0px 20px 9px, rgba(100, 100, 100, 0.6) 5px 5px 4px, inset rgba(255, 255, 255, 0.5) 5px 5px 4px;
}

article#featured_items {
	border-radius: 5%;
}



div.row {
	clear: both;
}

div.row::after {
	clear: both;
	content: "";
	display: table;
}

div[id^="col-"] {
	float: left;
	width: 50%;
}

.item {
	width: 75%;
	margin: 10px auto;
	box-shadow: rgba(5, 5, 5, 0.12) 0px 0px 10px;
	border: 2px inset rgba(5, 5, 5, 0.12);
	border-radius: 5%;
	margin-top: 5%;
	margin-left: 12.5%;
}

.item:last-of-type {
	margin-bottom: 5%;
}

.item:hover {
	background-color: rgba(5, 5, 5, 0.1);
	box-shadow: rgba(100, 100, 100, 0.6) 0px 0px 4px 5px;
}

.item img {
	max-width: 80%;
	margin-top: 2%;
	border: 1px solid rgba(5, 5, 5, 0.1);
	border-radius: 5%/3.7%;
	box-shadow: rgba(5, 5, 5, 0.15) 0px 0px 2px 2px;
	transform: scaleX(1.2);
}

.item figcaption {
	margin-bottom: 2%;
}

article#bio > img {
	width: 20%;
	float: left;
	margin: 1%;
}

article#bio::after {
	clear: both;
	content: "";
	display: table;
}

a#to_top {
	position: fixed;
	bottom: 10px;
}

footer {
	padding-bottom: 1%;
	clear: both;
	background-color: rgba(105, 105, 105, 0.3);
	width: 100%;
}

hr {
	width: 25%;
}

footer::after {
	clear: both;
	content: "";
	display: table;
}

/* M5LO5 Create a web page that uses flexboxes. Here I use flexboxes to arrange a title, table, and a list on the page. */
/* M5LO6 Explain the difference between a flexbox container and a flexbox item. M5LO7 Describe properties of flexbox containers. M5LO8 Describe properties of flexbox items.
	The container is something like a wrapper for the items; it defines the region the items occupy or fill. Some properties of flwxbox containers include the flex display,
	and the flex direction and wrap. Some flexbox item properties include the flex grow, shrink, and basis. */

	/* About Page Styles */
/* Structure */
body#project_about {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

section#about {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	width: 85%;
	margin: 20px auto;
	box-shadow: rgba(100, 100, 100, 0.15) 0px 0px 20px 9px;
	border-radius: 5%;
}
section#about > h1 {
	width: 100%;
	font: 2em 'Crimson_Text', Palatino, sans-serif;
	text-align: center;
}

aside#project_nav {
	-webkit-flex: 1 1 120px;
	flex: 1 1 120px;
	font: 1.15em 'Patua_one', Palatino, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
	background-color:rgb(243, 243, 243);
	height: 25%;
	border: 1px outset rgba(220, 220, 220, 0.5);
	box-shadow: rgba(100, 100, 100, 0.15) 0px 0px 20px 9px;
	border-radius: 10%;
}

aside#project_nav li:first-of-type {
	font: 1.5em 'Crimson_Text', Palatino, sans-serif;
	text-align: center;
}

aside#project_nav a {
	width: 25%;
	margin-left: 10px;
}

aside#project_nav > ul {
	list-style-type: none;
	line-height: 1.5em;
}

/* M6LO5 Identify key ways to format a table with CSS. M6LO7 Demonstrate how to format a table with CSS. Key ways to format tables include
defining column widths, borders and border collapse, or row heights. Below is the table format I used on the about page. I limited the
height of the final row and set an overflow, I set the border-collapse to collapse, so there are no gaps between cells, and set each column
to the same width. */
/* M6LO6 Explain the precedence in table styles. Table precedence goes in order of table, column groups, columns, row groups, rows, cells. */
/* Table */
table#about_table {
	-webkit-flex: 4 1 361px;
	flex: 4 1 361px;
	margin: 20px 20px 20px auto;
	border-collapse: collapse;
	font-size: 1.5em;
	line-height: 1.5em;
	box-shadow: rgba(100, 100, 100, 0.3) 0px 0px 20px 9px;
	color: rgb(80, 80, 80);
}

table#about_table caption {
	font: 0.75em 'Patua_One', Palatino, sans-serif;
}

col.cols {
	background: rgba(170, 170, 170, 0.3);
	width: 25%;
}

table#about_table th, table#about_table td {
	border: 1px solid gray;
}

table#about_table th {
	background: rgba(170, 170, 170, 0.6);
	color: black;
	font-family: 'Crimson_Text', Palatino, sans-serif;
}

table#about_table tr#LOs ul {
	height: 450px;
	overflow: auto;
	
}

/* Store Page Styles */
#custom_order, #reviews {
	color: rgb(5, 5, 5);
	color: rgba(5, 5, 5, 0.6);
	background-color: rgba(5, 5, 5, 0.1);
	text-align: center;
	width: 100%;
	margin: 2% auto 20px auto;
	box-shadow: rgba(100, 100, 100, 0.15) 0px 0px 20px 9px, rgba(100, 100, 100, 0.6) 5px 5px 4px, inset rgba(255, 255, 255, 0.5) 5px 5px 4px;
}

#custom_order figure {
	width: 75%;
}

#custom_order img {
	max-width: 100%;
	border: 1px solid rgba(5, 5, 5, 0.1);
	border-radius: 5%/3.7%;
	box-shadow: rgba(5, 5, 5, 0.15) 0px 0px 2px 2px;
}

div#shop_left {
	clear: both;
	float: left;
	width: 75%;
}

#shop_items {
	float: left;
	width: 90%;
	margin-left: 5%;
}

div#shop_right {
	float: left;
	width: 20%;
}

/* M6LO8 Create a multi-column layout. Here I created a column layout for the reviews section on the store page.
	This splits the article into two equally sized columns, with a slightly larger column gap than default. */
article#reviews {
	font: 1.2em Patua_One, sans-serif;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-gap: 1.5em;
	-webkit-column-gap: 1.5em;
	column-gap: 1.5em;

}

/* Text Styles */
nav ul li {
	font: 1.2em Patua_One;
}

article#featured_items > h1, article#shop_items > h1 {
	font: 2em Patua_One;
	position: relative;
	top: 20px;
	text-shadow: rgba(5, 5, 5, 0.3) 2px 2px 4px;
}

.item > figcaption {
	font: 1.2em Palatino, sans-serif;
}

article#bio h1 {
	font: normal 1.5em Patua_One, Palatino, sans-serif;
	line-height: 2em;
}

article#bio p {
	font: 1.5em Crimson_Text, serif;
	line-height: 1.3em;
}

article#contact {
	text-align: left;
	font: 1.5em Crimson_Text, serif;
	line-height: 1.2em;
}

article#featured_items a:link, article#featured_items a:visited, article#featured_items a:active, article#featured_items a:hover {
	color: rgba(5, 5, 5, 0.6);
	font: 1.2em Palatino, sans-serif;
}

footer h1 {
	font: 1.3em Patua_One;
	line-height: 2em;
}

footer p {
	font: 1.2em 'Palatino Linotype', Palatino, sans-serif;
	color: rgba(5, 5, 5, 0.5);
	line-height: 1.5em;
}

/* List Styles */
#LOs ul {
	list-style-type: none;
}

/* Link Styles */

a[href] {
	text-decoration: none;
	height: 100%;
	display: block;
}

a:link, a:visited {
	color: rgba(5, 5, 5, 0.5);
}

a:active, a:hover {
	color: rgba(5, 5, 5, 0.8);
	background-color: rgba(5, 5, 5, 0.2);
}

.item a:active, .item a:hover {
	background-color: transparent;
}

a#to_top {
	font-size: 2em;
	width: 2%;
	text-align: center;
}

a#to_top:hover, a#to_top:active {
	color: rgba(5, 5, 5, 0.5);
	background: transparent;
}

nav.vertical_nav a:active, nav.vertical_nav a:hover {
	color: rgba(5, 5, 5, 0.5);
	background: transparent;
}

/* Navigation Styles */
nav.horizontal_nav {
	display: block;
	width: 100%;
	background-color: rgba(5, 5, 5, 0.1);
}

nav.horizontal_nav a.menuTitle {
	display: none;
}

nav.horizontal_nav ul.menu {
	list-style-type: none;
}

nav.horizontal_nav ul.menu li {
	float: left;
	text-align: center;
	width: 20%;
	height: 1.5em;
	position: relative;
}

nav.horizontal_nav ul.menu li:hover {
	float: left;
	text-align: center;
	width: 20%;
	color: rgba(5, 5, 5, 0.8);
	background-color: rgba(5, 5, 5, 0.2);
}

.vertical_nav {
	float: left;
	width: 33.33%;
	text-align: center;
}

/* M5LO1 Explain responsive design. Responsive design is a design technique which changes the design or layout of a site based on the device viewing it. */
/* M5LO2 Explain how media queries work. Media queries essentially ask a device for some particular specifications, such as screen size. */
/* M5LO3 Use media queries to format a page differently for phones vs. PCs.
Reformats for mobile devices. Still WIP, but on featured items page makes it single column, on all pages pulldown nav menu and single column footer. */
/* Mobile Styles */
@media only screen and (max-device-width: 480px) {
	/* Structure */
	#header-text {
		font-size: 7em;
	}

	article {
		width: 95%;
		font-size: 2em;
	}

	div#shop_right, div#shop_left {
		clear: both;
		width: 100%;
	}

	div#shop_right > article {
		font-size: 2em;
		text-align: center;
	}

	section#about {
		-webkit-flex-direction: column;
		flex-direction: column;
		font-size: larger;
	}

	aside#project_nav {
		text-align: center;
		width: 96%;
	}

	aside#project_nav li:first-of-type {
		font-size: 2em;
	}

	aside#project_nav a{
		float: left;
		width: 25%;
		margin: auto;
	}

	/* Table Styles */
	table, tbody, tr, th, td {
		display: block;
	}

	table {
		width: 100%;
	}

	thead, tfoot, table#about_table caption {
		display: none;
	}

	td::before {
		content: attr(data-label);
		color: black;
		font: 1.75em 'Crimson_Text', Palatino, sans-serif;
		border-bottom: 1px solid black;
	}

	/* Text Styles */
	#project_nav li {
		font-size: 2em;
	}

	article#contact p {
		font-size: 2em;
		line-height: 1.25em;
	}
	
	/* M5LO4 Use CSS for pull down menus. Here, the menu changes from a horizontal layout to a pulldown layout with larger text, for mobile devices. */
	/* Nav Styles */
	nav.horizontal_nav a.menuTitle {
		display: block;
		font: 2.5em 'Crimson_Text', Palatino, sans-serif;
	}
	
	ul.menu {
		display: none;
	}
	
	a.menuTitle:hover+ul.menu, ul.menu:hover {
		display: block;
		font-size: 2em;
	}
	
	ul.menu::after {
		clear: both;
		content: "";
		display: table;
	}
	
	ul.menu > li {
		clear: both;
	}
	
	ul.menu > li > a{
		text-align: left;
	}
	
	div[id^="col-"] {
		clear: both;
		width: 100%;
	}
	
	.vertical_nav {
		clear: both;
		width: 100%;
		text-align: center;
		font-size: 2em;
	}
}

/* M5LO9 Describe different style sheets for print. I do not have a separate stylesheet for print, but I can describe it. Essentially
	it works using a media query to identify a print device, then reformats to be more easily readable in print. Things like links
	displaying the link itself after the link text, and modifying spacing and font styles. */
