@charset "utf-8";


/* Structure Styles */
.grid_container {
	display: grid;
	grid-gap: 20px;
}

article {
	color: rgba(5, 5, 5, 0.6);
	background-color: rgba(5, 5, 5, 0.1);
	text-align: center;
	width: 70%;
	margin: auto;
}

.grid_item {
	float: left;
	padding: 10px;
	margin: 40px 40px 0px 40px;
	border-style: inset;
	border-width: 5px;
	border-color: rgba(100, 100, 100, 0.6);
	background-color: rgba(151, 151, 151, 0.4);
	text-align: center;
}

.grid_item:last-of-type {
	margin-bottom: 40px;
}

.grid_item:hover {
	background-color: rgba(151, 151, 151, 0.5);
}

.grid_item > p {
	font: 1.2em Palatino, sans-serif;
}

article#bio h1 {
	font: normal small-caps 1.5em 'Palatino Linotype', Palatino, sans-serif;
}

article#bio p {
	font-size: 1.5em;
}

article#contact {
	font: 1.5em Palatino, sans-serif;
}

/* Navigation Styles */
nav {
	display: table;
	width: 150px;
	background-color: rgba(5, 5, 5, 0.1);
}

nav > ul {
	line-height: 2em;
	list-style-type: none;
	padding-left: 10px;
	display: table-row;
}

nav > ul > li {
	display: table-cell;
	text-align: center;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
	color: rgb(151, 151, 151);
	text-decoration: none;
}

nav > ul > li > a:active, nav > ul > li > a:hover {
	color: rgba(5, 5, 5, 0.8);
	text-decoration: none;
	background-color: rgba(5, 5, 5, 0.2);
}
