@charset "utf-8";

/* 
Name: Karsten Hald
Date Started: 4/6/2021
Last Edited: 5/7/2021
Course: CIS155
Instructor: Linda Epps
Assignment: Basic Site for CIS 155 
*/

/*Fonts obtained from Google Fonts. Licenses included.*/

@font-face {
	font-family: Satisfy;
	src: url('../Satisfy/Satisfy-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Patua_One;
	src: url('../Patua_One/PatuaOne-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Crimson_Text;
	src: url('../Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}

/* Structure Styles */
* {
	box-sizing: border-box;
}

/* Demonstrate the use of gradients (CSS) */

body {
	background: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.3));
}

header img {
	width: 100%;
}

/* M3LO8B Demonstrate relative positioning (CSS, note use in your CSS and describe what its impact is on the HTML) 
	In this case, the image keeps its position, but the relative positioning allows other elements to overlap it.*/

/* M4LO6D emonstrate the use of opacity/transparency for images (see 4.2) (CSS) 
	Makes the image less opaque. In this case it makes the text a bit harder to read and mutes the colors, I wouldn't 
	keep the opacity modifier in my final design.*/

/* M4LO2 Demonstrate the use of background images (CSS) 
	There is a background image positioned in the top left, set to a height of 50px with the width automatically scaled to
	keep the proportions. It is set to not repeat so it stays not visible. At the moment there is nowhere on my page I want
	a background image, though I do plan on adding some later.*/

#header-image {
	background: url(header.jpg) top left / auto 50px no-repeat;
	position: relative;
	text-align: center;
	opacity: 0.7;
	color: white;
}

/* M3LO8A Demonstrate absolute positioning (CSS, note use in your CSS and describe what its impact is on the HTML) 
	In this case, the absolute positioning allows other elements to fill its place after it is re-positioned.*/

#header-text {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font: 5em Satisfy, sans-serif;
	text-shadow: gray 4px 4px 10px;
}

.collapsible_menu {
	display: none;
}

/* M4LO5 Demonstrate the use of text or box shadowing (CSS, note one of these two in your CSS and explain its impact on the HTML) 
	Adds a few shadows to the article element. An inset white shadow on the top and left, a dark shadow on the right and bottom, and a light
	shadow all around. */

article {
	color: rgb(5, 5, 5);
	color: rgba(5, 5, 5, 0.6);
	background-color: rgba(5, 5, 5, 0.1);
	text-align: center;
	width: 70%;
	margin: 2% auto;
	box-shadow: rgba(100, 100, 100, 0.15) 0px 0px 20px 9px, rgba(100, 100, 100, 0.6) 5px 5px 4px, inset rgba(255, 255, 255, 0.5) 5px 5px 4px;
}

/* M4LO3 Demonstrate the use of rounded corners for borders (CSS) */

article#featured_items {
	border-radius: 5%;
}

/* M3LO3 Demonstrate a clearing floats (CSS, note where you have used a clear and what its impact is) 
	Part of the grid, ensures grid rows are individual rows.*/

div.row {
	clear: both;
}

/* M3LO6 Demonstrate formatting a grid (CSS, note the CSS rules that do this and what their impact is on the HTML; this can be old div-class based grids, or new CSS3 grids) 
	Div-class based grids separate content into rows and columns, styled as below.*/

div.row::after {
	clear: both;
	content: "";
	display: table;
}

/* M3LO2 Demonstrate floating elements (CSS, note where you have specified a floating element and what its impact is) 
	Lets the columns float next to each other.*/

div[id^="col-"] {
	float: left;
	width: 50%;
}

.item {
	width: 75%;
	margin: 10px auto;
	box-shadow: rgba(5, 5, 5, 0.12) 0px 0px 10px;
	border: 2px inset rgba(5, 5, 5, 0.12);
	border-radius: 5%;
	margin-top: 5%;
	margin-left: 12.5%;
}

.item:last-of-type {
	margin-bottom: 5%;
}

.item:hover {
	background-color: rgba(5, 5, 5, 0.1);
	box-shadow: rgba(100, 100, 100, 0.6) 0px 0px 4px 5px;
}

/* M4LO8 Demonstrate the use of transformations for 2D or 3D images (CSS, note one of these two in your CSS and explain its impact on the HTML) 
	Scales the image on the X-axis to better fit the box.*/

.item img {
	max-width: 80%;
	margin-top: 2%;
	border: 1px solid rgba(5, 5, 5, 0.1);
	border-radius: 5%/3.7%;
	box-shadow: rgba(5, 5, 5, 0.15) 0px 0px 2px 2px;
	transform: scaleX(1.2);
}

.item figcaption {
	margin-bottom: 2%;
}

article#bio > img {
	width: 20%;
	float: left;
	margin: 1%;
}

article#bio::after {
	clear: both;
	content: "";
	display: table;
}

/* M3LO9Demonstrate fixed, static, or inherited positioning (CSS, note explicit use of one of the three in your CSS and what the impact is on the HTML) 
	Fixed positioning keeps the item in place, even while scrolling so it is always visible.*/

a#to_top {
	position: fixed;
	bottom: 10px;
}

footer {
	padding-bottom: 1%;
	clear: both;
	background-color: rgba(105, 105, 105, 0.3);
}

footer hr {
	width: 25%;
}

footer::after {
	clear: both;
	content: "";
	display: table;
}

/* Store Page Styles */
#custom_order, #reviews {
	color: rgb(5, 5, 5);
	color: rgba(5, 5, 5, 0.6);
	background-color: rgba(5, 5, 5, 0.1);
	text-align: center;
	width: 70%;
	margin: 2% auto;
	box-shadow: rgba(100, 100, 100, 0.15) 0px 0px 20px 9px, rgba(100, 100, 100, 0.6) 5px 5px 4px, inset rgba(255, 255, 255, 0.5) 5px 5px 4px;
}

#custom_order figure {
	width: 75%;
}

#custom_order img {
	max-width: 100%;
	margin-top: 2%;
	border: 1px solid rgba(5, 5, 5, 0.1);
	border-radius: 5%/3.7%;
	box-shadow: rgba(5, 5, 5, 0.15) 0px 0px 2px 2px;
}

div#shop_left {
	clear: both;
	float: left;
	width: 80%;
}

#shop_items > article {
	float: left;
	width: 90%;
	margin-left: 5%;
}

div#shop_right {
	float: left;
	width: 15%;
}

section#reviews {
	float: left;
	width: 90%;
}
/* Text Styles */
nav ul li {
	font: 1.2em Patua_One;
}

article#featured_items > h1 {
	font: 2em Patua_One;
	position: relative;
	top: 20px;
	text-shadow: rgba(5, 5, 5, 0.3) 2px 2px 4px;
}

.item > figcaption {
	font: 1.2em Palatino, sans-serif;
}

article#bio h1 {
	font: normal 1.5em Patua_One, Palatino, sans-serif;
	line-height: 2em;
}

article#bio p {
	font: 1.5em Crimson_Text, serif;
	line-height: 1.3em;
}

article#contact {
	text-align: left;
	font: 1.5em Crimson_Text, serif;
	line-height: 1.2em;
}

article#featured_items a:link, article#featured_items a:visited, article#featured_items a:active, article#featured_items a:hover {
	color: rgba(5, 5, 5, 0.6);
	font: 1.2em Palatino, sans-serif;
}

footer h1 {
	font: 1.3em Patua_One;
	line-height: 2em;
}

footer p {
	font: 1.2em 'Palatino Linotype', Palatino, sans-serif;
	color: rgba(5, 5, 5, 0.5);
	line-height: 1.5em;
}

section#contact {
	float: left;
	width: 33.34%;
	text-align: center;
}

/* List Styles */
ol.LO {
	list-style-type: upper-alpha;
}

/* Link Styles */

a[href] {
	text-decoration: none;
}

a:link, a:visited {
	color: rgba(5, 5, 5, 0.5);
}

a:active, a:hover {
	color: rgba(5, 5, 5, 0.8);
	background-color: rgba(5, 5, 5, 0.2);
}

.item a:active, .item a:hover {
	background-color: transparent;
}

a#to_top {
	font-size: 2em;
	width: 2%;
	text-align: center;
}

a#to_top:hover, a#to_top:active {
	color: rgba(5, 5, 5, 0.5);
	background: transparent;
}

nav.vertical_nav a:active, nav.vertical_nav a:hover {
	color: rgba(5, 5, 5, 0.5);
	background: transparent;
}

/* Navigation Styles */
nav.horizontal_nav {
	display: table;
	width: 100%;
	background-color: rgba(5, 5, 5, 0.1);
}

nav.horizontal_nav > ul {
	list-style-type: none;
	display: table-row;
}

nav.horizontal_nav > ul li {
	display: table-cell;
	float: left;
	text-align: center;
	width: 20%;
	height: 1.5em;
}

nav.horizontal_nav > ul li:hover {
	display: table-cell;
	float: left;
	text-align: center;
	width: 20%;
	color: rgba(5, 5, 5, 0.8);
	background-color: rgba(5, 5, 5, 0.2);
}

nav.vertical_nav {
	float: left;
	width: 33.33%;
	text-align: center;
}