@charset "utf-8";

/* 
Name: Karsten Hald
Date Started: 4/6/2021
Last Edited: 5/7/2021
Course: CIS155
Instructor: Linda Epps
Assignment: Basic Site for CIS 155 
*/

/* M3LO1 Demonstrate the use of a CSS reset style sheet (CSS, note where you have CSS reset rules) Reset the below rules. */

article, figcaption, figure,
footer, header, nav, section, a { 
   display: block;
}

/* M3LO11 Demonstrate -prefix- style browser extensions use in CSS (CSS note the use in your CSS and what the purpose is) 
	Allows older browsers to still set the box-sizing style to border-box.*/

article, body, div, em, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, html, img, li, nav, ol, p, ul, section {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}

body {
   line-height: 1;
}